<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         id="com.leechwin.csslint.eclipse.builder.CssLintBuilder"
         name="CSSLint Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.leechwin.csslint.eclipse.builder.CssLintBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.leechwin.csslint.eclipse.builder.CssLintNature"
         name="CSSLint Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.leechwin.csslint.eclipse.builder.CssLintNature">
         </run>
      </runtime>
      <builder
            id="com.leechwin.csslint.eclipse.builder.CssLintBuilder">
      </builder>
   </extension>
   <extension
         id="CSSLintProblem"
         name="CSSLint Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.leechwin.csslint.eclipse.preferences.PreferencesInitializer">
      </initializer>
   </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.leechwin.csslint.eclipse.contribution1">
         <action
               class="com.leechwin.csslint.eclipse.ui.ToggleNatureAction"
               enablesFor="+"
               id="com.leechwin.csslint.eclipse.addNatureAction"
               label="Enable CSSLint"
               menubarPath="additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="com.leechwin.csslint.eclipse.builder.CssLintNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.leechwin.csslint.eclipse.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.leechwin.csslint.eclipse.ui.ToggleNatureAction"
               enablesFor="+"
               id="com.leechwin.csslint.eclipse.removeCssLintNature"
               label="Disable CSSLint">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="projectNature"
                     value="com.leechwin.csslint.eclipse.builder.CssLintNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.leechwin.csslint.eclipse.ui.preferences.OptionsPreferencePage"
            id="com.leechwin.csslint.eclipse.ui.preferences.OptionsPreferencePage"
            name="CSSLint">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.leechwin.csslint.eclipse.ui.preferences.OptionsPropertyPage"
            id="com.leechwin.csslint.eclipse.ui.preferences.OptionsPropertyPage"
            name="CSSLint">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.jdt.launching.hasProjectNature"
                     args="com.leechwin.csslint.eclipse.builder.CssLintNature"/>
            </and>
         </enabledWhen>
      </page>
   </extension>

</plugin>
